{% load static %}
<html>
        <head>
            <title>St Marry Cathedral</title>
        </head>
        <body bgcolor="beige" text="black">
            <center>
                <h2 >St Marry Cathedral</h2>
                <img src="{% static 'marry.jpg' %}" height="500"width="600">
                <hr color="orange">
           <h2> <p>St Mary’s Cathedral in Madurai, built in 1841, is a Roman Catholic church with striking twin bell towers.It blends European, Roman, and Continental architectural styles, reflecting colonial-era design.The cathedral gained its official status in 1969 under the Archdiocese of Madurai.Located on East Veli Street, it remains an active parish and a landmark of faith</p></h2>
            </center>
        </body>
</html>
