{% load static %}
<html>
        <head>
            <title>Thirumalai Nayakar Palace</title>
        </head>
        <body bgcolor="beige" text="black">
            <center>
                <h2>Thirumalai Nayakar Palace</h2>
                 <img src="{% static 'palace.jpg'%}" height="500"width="600">
                  <hr color="orange">
            <h2> <p>Thirumalai Nayakar Palace in Madurai, built in 1636, showcases Indo-Saracenic and Dravidian styles.
                Its grand courtyard and towering pillars highlight Nayak dynasty artistry.
                The palace blends arches, domes, and intricate stucco work.It stands near Meenakshi Temple as a cultural landmark.</p></h2>
            </center>
        </body>
</html>
