{% load static %}
<html>
        <head>
            <title>Nalli Silks</title>
        </head>
        <body bgcolor="beige" text="black">
            <center>
                <h2>Nalli Silks</h2>
                <img src="{% static 'silk.jpg' %}" height="500" width="600">
                <hr color="orange">
            <h2> <p>Nalli Silks in Madurai is a renowned saree showroom offering traditional and designer silk collections.
                It is famous for Kanchipuram, Banarasi, and Mysore silks, catering to weddings and festive occasions.
                Located on Jadamuni Kovil Street and South Masi Street, it is easily accessible from Madurai Junction.
                The store is a trusted landmark for bridal and ethnic wear shopping in the city.</p></h2>
        </body>
</html>