{% load static %}
<html>
        <head>
            <title>Meenakashi Amman Temple</title>
        </head>
        <body bgcolor="beige" text="black">
            <center>
                <h2>Meenakshi Amman Temple</h2>
                <img src="{% static 'temple.jpg' %}" height="500" width="600">
                 <hr color="orange">
            <h2><p>Meenakshi Amman Temple in Madurai is a 2,500-year-old Dravidian masterpiece, rebuilt in the 16th–17th centuries.
                It is famed for its towering gopurams covered in thousands of colorful sculptures of gods and mythical beings.
                The temple is dedicated to Goddess Meenakshi (Parvati) and Lord Sundareswarar (Shiva).
                Its sacred Golden Lotus Pond and vibrant festivals, like Chithirai Thiruvizha, make it a cultural heart of Madurai.</p></h2>
            </center>  
        </body>
</html>
